<article class="post">
  <div class="title">
    <a href="{{restaurant_url}}" target="_blank">{{title}}</a>
    <span>({{format_url restaurant_url}})</span>
  </div>
  <div class="meta">
    <a href="/restaurant/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
